.profile-btn {
  background-color: #ececec;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.icon-logo {
  width: 28px;
  height: 28px;
}
.dropdown-menu{
  background-color: var(--bg-color-secondary);
padding: 3px;
  a{
  color:  var(--font-color-primary);
  width: 90%;
  border-radius: 8px;
  margin-bottom: 5px;
&:hover{
  background-color: var(--bg-color-primary);
}
}
}
.app {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 100%;
    padding: 16px 24px;
    position: relative;
    background-color: var(--bg-color-primary);

    &-left,
    &-right {
      display: flex;
      align-items: center;
    }

    &-left {
      flex-grow: 1;
      height: 40px;
    }

    &-right button {
      margin-left: 10px;
    }
  }

  &-name {
    color: var(--font-color-primary);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
  }
  &-icon {
    cursor: pointer;
  }
}

.mode-switch,
.add-btn,
.notification-btn,
.home-btn,
.messages-btn {
  color: var(--font-color-primary);
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  opacity: 0.9;

  &:hover {
    background-color: var(--button-bg);
    color: #fff;
    border-radius: 50%;
    opacity: 1;
  }
}
.notification-btn {
  background-color: var(--button-bg);
  color: #fff;
}
.active {
  background-color: var(--button-bg);
  color: #fff;
}
.profile-btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-left: 2px solid #ddd;

  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
  }
  span {
    color: var(--font-color-primary);
    font-weight: bold;
    font-size: 1rem;
  }
}
.logout-btn{
  background-color: var(--link-color-active-bg);
}
@media screen and (max-width: 880px) {
  .messages-btn {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .add-btn,
  .notification-btn,
  .mode-switch
 {
    width: 24px;
    height: 24px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .app-header-right button {
    margin-left: 4px;
  }
}

@media screen and (max-width: 520px) {
  .app-header {
    padding: 10px;
  }

  .profile-btn img {
    width: 24px;
    height: 24px;
  }
  .profile-btn span {
    font-size: 12px;
  }
  .search-input {
    font-size: 14px;
  }

  .messages-btn {
    top: 48px;
  }
}
.icon-menu {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
}
.app-icon {
  width: 26px;
  height: 2px;
  border-radius: 4px;
  background-color: var(--font-color-primary);
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--font-color-primary);
    left: 50%;
    transform: translatex(-50%);
  }

  &:before {
    top: -6px;
  }
  &:after {
    bottom: -6px;
  }
}
