<div class="app-header bg-light">

  <div class="app-header-left">
    <div class="icon-menu" (click)="toggleSidebar()" >
      <span class="app-icon"></span>
    </div>
    <p class="app-name">{{title}}</p>
  </div>

  <div class="app-header-right">
    <button (click)="toggleTheme()" class="mode-switch" title="Switch Theme">
      <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
      </svg>
    </button>

    <button class="notification-btn" (click)="onClickToggleNotifications()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-bell">
        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
        <path d="M13.73 21a2 2 0 0 1-3.46 0" />
      </svg>
    </button>

    <button (click)="logout()" class="logout-btn" title="Logout">
      <mat-icon class="manage_accounts_icon" fontSet="material-icons-outlined">
        logout
      </mat-icon>
    </button>

    <button class="profile-btn">

      <span class="profile-name">{{ currentUser?.name }} {{ currentUser?.surname }} </span>
    </button>
  </div>

</div>
