<div class="projects-section ">
  <div class="projects-section-header">
    <p>Dashboard</p>

  </div>
  <div class="projects-section-line">
    <div class="projects-container">
      <div class="project-card" style="border-left: 5px solid #ff6600;">
          <a  routerLink="/user-management" class="card-content">
         <h3>  <i class="bi bi-file-person"></i> Users </h3>
         <p class="nb">{{ usersCount }} </p>
        </a>
      </div>
      <div class="project-card" style="border-left: 5px solid #007bff;">
        <a routerLink="/poi-management" class="card-content">
          <h3><i class="bi bi-file-text"></i>POI</h3>
          <p class="nb">{{ poisCount }}</p>
        </a>
      </div>
      <div class="project-card" style=" border-left: 5px solid #09a01d; ">
        <a routerLink="/comment-management" class="card-content">
          <h3> <i class="bi bi-chat-dots"></i>comments</h3>
          <p class="nb">{{ commentscount }}</p>
        </a>
      </div>
      <div class="project-card" style=" border-left: 5px solid #df0f0f; ">
        <a routerLink="/report-management" class="card-content">
          <h3><i class="bi bi-exclamation-octagon" ></i>Reports</h3>
          <p class="nb">7</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row " class="centred">
    <div class="col-md-6">
      <div class="card dashboard-card">
        <div class="card-body">
          <h5 class="card-title">Dashboard</h5>
          <div class="chart-menu">
            <button class="chart-menu-button" (click)="showChart('poi')">POI Chart</button>
            <button class="chart-menu-button" (click)="showChart('user')">User Chart</button>
          </div>
          <div class="chart-container" [hidden]="selectedChart !== 'poi'" #poiChart></div>
          <div class="chart-container" [hidden]="selectedChart !== 'user'" #userChart></div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card dashboard-card">
        <div class="card-body">
          <h5 class="card-title">Top 10 Poi by voting</h5>
          <div class="dashboard-section">
            <ul class="user-list">

              <li *ngFor="let poi of getTop10POIs()" class="poi-item">
                <span class="user-name">{{ poi.title }}</span>
                <span class="user-points">{{ poi.votes }}</span>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="row" class="centred">
    <div class="col-md-5">
      <div class="card dashboard-card">
        <div class="card-body">
          <h2>Age Distribution</h2>
          <div class="chart-container" #ageChart></div>

        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card dashboard-card">
        <div class="card-body">
          <h5 class="card-title">Top 10 Poi by voting</h5>
          <div class="dashboard-section">
            <ul class="user-list">

              <li *ngFor="let poi of getTop10POIs()" class="poi-item">
                <span class="user-name">{{ poi.title }}</span>
                <span class="user-points">{{ poi.votes }}</span>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row" class="centred">

    <div class="col-md-5">
      <div class="card dashboard-card">
        <div class="card-body">
          <h5 class="card-title">Top 10 users by punkts</h5>
          <div class="dashboard-section">
            <ul class="user-list">
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
              <li>
                <span class="user-name">User 2</span>
                <span class="user-points">4800</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card dashboard-card">
        <div class="card-body">
          <h2>Divm</h2>
          <div class="dashboard-section">
            <ul class="user-list">
              <!-- List items -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>
