<div class="container">
  <form action="#" method="post" class="poi-form" *ngIf="this.currentSurvey">
    <div class="info-container">
      <p class="info-item"><span class="label">ID:</span> <span class="value">{{this.currentSurvey.id}}</span></p>
      <p class="info-item"><span class="label">Titel:</span> <span class="value">{{this.currentSurvey.titel}}</span></p>
      <p class="info-item"><span class="label">Description:</span> <span class="value">{{this.currentSurvey.beschreibung}}</span></p>
    </div>

    <div class="flex-container" *ngIf="this.currentSurvey.creator">
      <p class="info-item"><span class="label">Creator:</span> <span class="value">{{this.currentSurvey.creator?.name + " " + this.currentSurvey.creator?.surname}}</span></p>
      <div><button id="view-user-button" type="submit" (click)="navigateToUser(this.currentSurvey.creator.id)">View User</button></div>
    </div>

    <div class="flex-container" *ngIf="this.currentSurvey.poi">
      <p class="info-item"><span class="label">POI:</span> <span class="value">{{this.currentSurvey.poi?.titel}}</span></p>
      <div><button id="view-poi-button" type="submit" (click)="navigateToPoi(this.currentSurvey.poi.id)">View POI</button></div>
    </div>

    <div class="info-container">
      <p class="info-item"><span class="label">created at:</span> <span class="value">{{this.currentSurvey.createdAt | date:'short'}}</span></p>
      <p class="info-item"><span class="label">updated at:</span> <span class="value">{{this.currentSurvey.updatedAt | date:'short'}}</span></p>
      <p class="info-item"><span class="label">expires at:</span> <span class="value">{{this.currentSurvey.expiresAt | date:'short'}}</span></p>
    </div>

    <br>
    <button class="button alert tiny" (click)="deleteSurvey()">Delete</button>
  </form>
</div>
