<div class="profile-box d-flex align-items-start p-2 w-100">
  <div class="avatar d-flex align-items-center justify-content-center rounded-circle">
    @if (user.img ) {

    <img [src]="user.img" alt="profile image">
    } @else {

    <div class="initials">{{ getInitials(user.name, user.surname) }}</div>
    }

  </div>
  <!-- Profile Details -->
  <div class="profile-content ps-2">
    <h5 class="name fw-bold mb-0">{{ user.name }} {{ user.surname }}
      <ng-container *ngIf="user.verified; else notVerified">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0040ff" class="bi bi-check-circle-fill"
          viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </svg>
      </ng-container>
      <ng-template #notVerified>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle"
          viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
        </svg>
      </ng-template>
    </h5>
    <h6 class="card-subtitle text-secondary mb-2">{{ user.role }}</h6>
    <p class="card-text text-secondary small mb-1">
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope"
          viewBox="0 0 16 16">
          <path
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z" />
        </svg>
      </span>
      {{ user.email }}
    </p>
    <p class="card-text text-secondary small mb-1">
      <span class="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event"
          viewBox="0 0 16 16">
          <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z" />
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
        </svg>
      </span>
      {{ user.dob | date:'dd MMM yyyy' }}
    </p>
    @if (currentUser?.role =='ADMIN' || currentUser?.role =='MODERATOR') {

    <p class="card-text text-secondary small mb-1">Created at: {{ user.createdAt | date:'dd MMM yyyy, HH:mm' }}</p>
    <p class="card-text text-secondary small mb-1">User ID: {{ user.id }}</p>
    <span class="badge mb-3" [ngClass]="user.active ? 'bg-success' : 'bg-danger'">
      {{ user.active ? 'Active' : 'Inactive' }}
    </span>
    <span class="badge mb-3 ms-2" [ngClass]="{
       'bg-success': user.blockStatus === '' || user.blockStatus === 'UNBLOCKED',
       'bg-danger': user.blockStatus === 'BLOCKED' || user.blockStatus === 'PERMANENTLY_BLOCKED'
     }">
      {{ user.blockStatus === '' || user.blockStatus === 'UNBLOCKED' ? 'unblocked' : 'Blocked' }}
    </span>
    <p class="card-text text-secondary small mb-1" *ngIf="user.blockStatus === 'BLOCKED' && user.blockUntilDatum">
      Blocked Until: {{ user.blockUntilDatum | date:'short' }}
    </p>
    <p class="card-text text-secondary small mb-1" *ngIf="user.blockStatus === 'PERMANENTLY_BLOCKED'">
      Blocked Permanently
    </p>
    }


    <div class="mt-4">

      <app-state-counter *ngIf="counters" [states]="counters"></app-state-counter>
    </div>

  </div>
</div>
