/* comment-management.component.scss */

:root {
  --search-bar-top-position: 185px;
  --search-bar-right-margin: 20px;
  --search-bar-padding: 5px 10px;
  --search-bar-font-size: 14px;
  --search-bar-border-radius: 4px;
  --search-bar-border-color: gray;
}

div {
  position: relative;
}

.search-container {
  position: absolute;
  right: var(--search-bar-right-margin);
  top: var(--search-bar-top-position);
  display: flex;
  align-items: center;
  color: var(--light-font);
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 4px;
}

.search-input {
  padding: var(--search-bar-padding);
  font-size: var(--search-bar-font-size);
  background-color: var(--search-area-bg);
  color: var(--font-color-primary);
}

.search-input::placeholder {
  color: var(--font-color-primary);
  opacity: 0.6;
}

.feather.feather-search {
  margin-right: 5px; /* Adjust for spacing between icon and input */
  pointer-events: none; /* Makes sure the icon does not interfere with input events */
}

/* Optionally style the rest of the table to ensure it adjusts to the search input positioning */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.button {
  background-color: #FFFFFF;
  border: 1px solid rgb(231, 231, 231);
  border-radius: .5rem;
  color: #111827;
  font-family: ui-sans-serif,system-ui,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #f9fafb;
}

.button:focus {
  background-color: #f9fafb;
}

.button:focus-visible {
  box-shadow: none;
}

.actualcomment {
  width: 20%;
}

.buttonColumn {
  width: 1%;
  text-align: center;
}
