
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Parti Bremen</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Curabitur et est sed felis aliquet sollicitudin</p>

      </div>
    </div>

    <div class="right">
      <h5>Login</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellat!</p>
      <div class="inputs">
        <input type="text" placeholder="user name">
        <br>
        <input type="password" placeholder="password">
      </div>

      <br><br>

      <div class="remember-me--forget-password">
        <!-- Angular -->
        <label>
          <input type="checkbox" name="item" checked />
          <span class="text-checkbox">Remember me</span>
        </label>
        <p>forget password?</p>
      </div>

      <br>
      <button>Login</button>
    </div>

  </div>

