<div class="app-sidebar" *ngIf="!hidden">


  <div class="sidebar-content" [ngClass]="{'show-sidebar': showSidebar}">


    @if (currentUser?.role =='ADMIN' ||currentUser?.role =='MODERATOR' ) {
      <a routerLink="/home" routerLinkActive="active" class="sidebar-content-link">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-home">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
          <polyline points="9 22 9 12 15 12 15 22" />
        </svg>
      </a>




    <!-- Dashboard icon-->
    <a routerLink="/dashboard" routerLinkActive="active" class="sidebar-content-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-down"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M0 0h1v15h15v1H0zm14.817 11.887a.5.5 0 0 0 .07-.704l-4.5-5.5a.5.5 0 0 0-.74-.037L7.06 8.233 3.404 3.206a.5.5 0 0 0-.808.588l4 5.5a.5.5 0 0 0 .758.06l2.609-2.61 4.15 5.073a.5.5 0 0 0 .704.07" />
      </svg>
    </a>

    <!-- User Management icon-->
    <a routerLink="/user-management" routerLinkActive="active" class="sidebar-content-link">
      <mat-icon class="manage_accounts_icon" fontSet="material-icons-outlined">
        manage_accounts
      </mat-icon>
    </a>

    <!-- POI Management icon-->
    <a routerLink="/poi-management" routerLinkActive="active" class="sidebar-content-link">
      <mat-icon class="manage_accounts_icon" fontSet="material-icons-outlined">
        pin_drop
      </mat-icon>
    </a>

    <!-- Comment management icon-->
    <a routerLink="/comment-management" routerLinkActive="active" class="sidebar-content-link">
      <mat-icon class="" fontSet="manage_accounts_icon" fontSet="material-icons-outlined">
        chat
      </mat-icon>
    </a>

    }
  </div>
</div>
