<form action="#" method="post">
  <label for="input1">Name:</label>
  <input type="text" id="input1" name="input1" [(ngModel)]="poiName"><br><br>

  <label for="input4">Beschreibung</label>
  <input type="text" id="input4" name="input4" [(ngModel)]="poiBeschreibung"><br><br>

  <label for="input2">Adresse:</label>
  <input type="text" id="input2" name="input2" [(ngModel)]="poiAdresse"><br><br>

  <label for="input3">Status:</label>
  <input type="text" id="input3" name="input3" [(ngModel)]="poiStatus"><br><br>

  <button type="submit">Absenden</button>
</form>
