<div class="container">
  <form action="#" method="post" class="poi-form" *ngIf="this.currentPoi">
    <div class="info-container">
      <p class="info-item"><span class="label">ID:</span> <span class="value">{{this.currentPoi.id}}</span></p>
    </div>

    <label for="input1">Name:</label><br>
    <input type="text" id="input1" name="input1" [(ngModel)]="this.currentPoi.titel"><br><br>

    <label for="input4">Beschreibung:</label><br>
    <textarea id="input4" name="input4" [(ngModel)]="this.currentPoi.description" class="description-box"></textarea><br><br>

    <div class="info-container">
      <label for="input2" class="info-item"><span class="label">Aktiv?:</span> <span class="value"><input type="checkbox" id="input2" name="input2" [(ngModel)]="currentPoi.active"></span></label>
    </div>

    <br>

    <div class="flex-container">
      <p class="info-item"><span class="label">Creator:</span> <span class="value">{{this.currentPoi.creator.name + " " + this.currentPoi.creator.surname}}</span></p>
      <div class="button-right"><button id="view-user-button" type="submit" (click)="navigateToUser(this.currentPoi.creator.id)">View User</button></div>
    </div>

    <div class="info-container">
      <p class="info-item"><span class="label">created at:</span> <span class="value">{{this.currentPoi.createdAt | date:'short'}}</span></p>
      <p class="info-item"><span class="label">updated at:</span> <span class="value">{{this.currentPoi.updatedAt | date:'short'}}</span></p>
      <p class="info-item"><span class="label">long/lat:</span> <span class="value">{{this.currentPoi.longitude}} / {{this.currentPoi.latitude}}</span></p>
    </div>

    <br>

    <div class="flex-container">
      <div><button type="button" (click)="navigateToComments()">View Comments</button></div>
      <div><button type="button" (click)="navigateToSurveys()">View Surveys</button></div>
      <div><button type="button" (click)="navigateToReports()">View Reports</button></div>
    </div>

    <br>

    <button type="submit" (click)="updatePoi()">Update</button>
    <button class="button alert tiny" (click)="deletePoi()">Delete</button>
  </form>

  <div id="map"></div>
</div>
