<div class="projects-section">
  <div class="projects-section-header">
    <p>User Management</p>
  </div>

  <div class="projects-section-line">
    <div class="projects-status">
      <div class="item-status">
        <span class="status-number">45</span>
        <span class="status-type">In Progress</span>
      </div>
      <div class="item-status">
        <span class="status-number">24</span>
        <span class="status-type">Upcoming</span>
      </div>
      <div class="item-status">
        <span class="status-number">62</span>
        <span class="status-type">Total Projects</span>
      </div>
    </div>
    <div class="view-actions active">
      <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="Search">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search"
          viewBox="0 0 24 24">
          <defs></defs>
          <circle cx="11" cy="11" r="8"></circle>
          <path d="M21 21l-4.35-4.35"></path>
        </svg>
      </div>

      <button class="view-btn grid-view active" title="Add new User">

        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-plus">
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" />
        </svg>

        <span>Add new User</span>

      </button>
    </div>
  </div>

  <div class="project-boxes jsGridView">
    <div class="project-box-wrapper">
      <table class="table table-striped table-hover user-list fixed-header">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>User Name</th>
          <th>Date of Birth</th>
          <th>Email</th>
          <th>password</th>
          <th>Verified</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th></th>
        </thead>
        <tbody>
          @for (user of users; track user.id) {


          <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.status}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">
              <button class="button tiny">View User</button>
              <button class="button alert tiny">Delete</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
