.projects-section {
  display: flex;
  flex-direction: column;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-container {
  min-width: 60vw;
    background-color: var(--bg-color-secondary);
    padding: 2rem;
    border-radius:12px ;
  }
}
