<app-toast></app-toast>

@if (isAuthenticated()) {

<div class="app-wrapper" [ngClass]="{'expanded': isSidebarHidden}">
  <app-sidenav [hidden]="isSidebarHidden"></app-sidenav>

  <app-header (toggleNotifications)="toggleNotifications()" (sidebarToggled)="onSidebarToggled()"></app-header>
  <div class="app-container d-flex flex-column bg-light" [ngClass]="{'expanded': isSidebarHidden}">

    <div class="app-content d-flex flex-column overflow-hidden">
      <div class="row">

        <div class="main-section rounded-5 bg-white py-5 px-5" [@fadeInOut]
          [ngClass]="{'col-md-12': !showNotifications, 'col-md-8': showNotifications}">
          <router-outlet></router-outlet>
        </div>

        <div class="col-md-4" [@fadeInOut] *ngIf="showNotifications || !isAuthenticated()">
          <div class="report-notifications py-5 px-3 bg-white rounded-5 overflow-hidden">
            <app-report-notifications></app-report-notifications>
          </div>
        </div>
      </div>
    </div>
    <div class="footer rounded-top-5 bg-white py-5 px-5">

      <app-footer></app-footer>
    </div>
  </div>
</div>
} @else {

<div class="login-container">
  <app-auth></app-auth>
</div>
}
