<app-toast></app-toast>

@if(isAuthenticated()){
<app-sidenav></app-sidenav>

<div class="app-container d-flex flex-column bg-light">

  <app-header></app-header>

  <div class="app-content d-flex flex-column overflow-hidden">
    <div class="d-md-flex gap-2 me-3 ">

      <div class="col-md-9 main-section overflow-hidden rounded-5 bg-white py-5 px-3">

        <router-outlet />

      </div>
      <div class=" col-md-3 ">
        <div class="report-rotifications py-5 px-3 bg-white rounded-5 overflow-hidden ">

          <app-report-notifications></app-report-notifications>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>
}@else {

<div class="login-container">
  <app-login></app-login>
</div>

}
