@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body {
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-primary);
}

button,
input,
optgroup,
select,
textarea {
  font-family: "DM Sans", sans-serif;
}

.app {
  &-container {
    transition: padding-left 0.3s ease-in-out, width 0.3s ease-in-out;
    padding-left: 80px !important; /* Default padding */
    background-color: var(--bg-color-primary);

    &.expanded {
      padding-left: 5px !important; /* Padding when sidebar is hidden */
    }
  }

  &-content {
    padding: 16px 0 24px 0;
  }
}

.main-section {
  padding: 32px;
  background-color: var(--bg-color-secondary);
  overflow-y: auto;
}
.report-notifications{
  background-color: var(--bg-color-secondary);

}
.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-primary);
}

@media screen and (max-width: 520px) {
  .app {
    &-container {
      padding: 0 8px;
    }
  }
}
