<!-- add-user.component.html -->







<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addNewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <app-section-header [title]="title" time=""></app-section-header>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3" [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <!--Name-->
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" class="form-control " id="name" placeholder="" formControlName="name" [required]="true"
                [class.is-invalid]="userForm.get('name')!.invalid && userForm.get('name')!.touched"
                [class.is-valid]="userForm.get('name')!.valid && userForm.get('name')!.touched">
              <label for="name" class="form-label">Name*</label>
              @if(userForm.get('name')!.invalid && userForm.get('name')!.touched){
              <div class="invalid-feedback">
                Please provide a valid name.
              </div>
              }
            </div>
          </div>

          <!--Surname-->
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" class="form-control"
                [class.is-invalid]="userForm.get('surname')!.invalid && userForm.get('surname')!.touched"
                [class.is-valid]="userForm.get('surname')!.valid && userForm.get('surname')!.touched" id="surname"
                placeholder="" formControlName="surname">
              <label for="surname" class="form-label">Surname*</label>
              @if(userForm.get('surname')!.invalid && userForm.get('surname')!.touched){
              <div class="invalid-feedback">
                Please provide a valid surname.
              </div>
              }
            </div>
          </div>
          <!--Role-->
          <div class="col-md-4">
            <div class="form-floating">
              <select class="form-select" id="role" formControlName="role"
                [class.is-invalid]="userForm.get('role')!.invalid && userForm.get('role')!.touched"
                [class.is-valid]="userForm.get('role')!.valid && userForm.get('role')!.touched">
                <option value="0">Default</option>
                <option value="1">User</option>
                <option value="2">Creator</option>
                <option value="3">Moderator</option>
                <option value="4">Admin</option>
                <option value="5">Decider</option>
              </select>
              <label for="role">Role*</label>
              @if (userForm.get('role')!.invalid && userForm.get('role')!.touched) {
              <div class="invalid-feedback">
                Please select a role.
              </div>
              }
            </div>
          </div>

          <!--Date of Birth-->
          <div class="col-8">
            <div class="form-floating">
              <input type="date" class="form-control" id="dob" placeholder="" formControlName="dob"
                [class.is-invalid]="userForm.get('dob')!.invalid && userForm.get('dob')!.touched"
                [class.is-valid]="userForm.get('dob')!.valid && userForm.get('dob')!.touched">
              <label for="dob" class="form-label">Date of Birth*</label>
              @if(userForm.get('dob')!.invalid && userForm.get('dob')!.touched){
              <div class="invalid-feedback">
                Please provide a valid date of birth.
              </div>
              }
            </div>
          </div>

          <!--Email-->
          <div class="col-md-6">
            <div class="form-floating">
              <input type="email" class="form-control" id="email" placeholder="" formControlName="email"
                [class.is-invalid]="userForm.get('email')!.invalid && userForm.get('email')!.touched"
                [class.is-valid]="userForm.get('email')!.valid && userForm.get('email')!.touched">
              <label for="email" class="form-label">Email*</label>
              @if (userForm.get('email')!.invalid && userForm.get('email')!.touched) {
              <div class="invalid-feedback">
                Please provide a valid email.
              </div>
              }
            </div>
          </div>

          <!--Password-->
          <div class="col-md-6">
            <div class="form-floating">
              <input type="password" class="form-control" id="password" placeholder="" formControlName="password"
                [class.is-invalid]="userForm.get('password')!.invalid && userForm.get('password')!.touched"
                [class.is-valid]="userForm.get('password')!.valid && userForm.get('password')!.touched">
              <label for="password" class="form-label">Password*</label>
            </div>
          </div>

          <div class="d-grid gap-4 d-md-block">

          </div>

        </form>

      </div>
      <div class="modal-footer">

        <button type="reset" (click)="onCancel()" class="btn btn-outline-dark" data-bs-dismiss="modal">close</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-dark mx-md-3" [disabled]="!userForm.valid"
          data-bs-dismiss="modal" >Add New
          User</button>
      </div>
    </div>
  </div>
</div>
