.login-section {
  margin: 0 auto;
  width: 80%;
  background-color: var(--bg-color-primary);
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;

  box-shadow: 0 0 25px 5px #1b1b1b85;

  @media (max-width: 980px) {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  div {
    height: auto;
  }

  .left {
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1559467384-152f288c9d27?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJyZW1lbnxlbnwwfHwwfHx8MA%3D%3D");
    overflow: hidden;

    // overlay
    .overlay {
      padding: 30px;
      width: 100%;
      height: 100%;
      background: rgb(54 12 12 / 68%);
      overflow: hidden;
      box-sizing: border-box;

      h1 {
        font-size: 6vmax;
        line-height: 1;
        font-weight: 900;
        margin-top: 40px;
        margin-bottom: 20px;
      }
    }
  }

  .right {
    padding: 30px;
    overflow: hidden;

    @media (max-width: 980px) {
      width: 100%;
    }

    .login-title-right {
      font-size: 4vmax;
      color: var(--font-color-primary);
      margin-bottom: 30px;
    }

    p {
      font-size: 14px;
      color: #b0b3b9;
    }

    .inputs {
      overflow: hidden;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 25px;
      font-size: 16px;
      border: none;
      outline: none;
      border-bottom: 2px solid #b0b3b9;
    }

    .remember-me--forget-password {
      display: flex;
      justify-content: space-between;
      align-items: center;

      input {
        margin: 0;
        margin-right: 7px;
        width: auto;
      }
    }

    button {
      float: right;
      color: var(--button-font-color);
      font-size: 16px;
      padding: 12px 35px;
      border-radius: 5px;
      display: inline-block;
      border: 0;
      outline: 0;
      background: var(--button-bg);
    }
  }
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}
label::before {
  content: " \f00c";
  position: absolute;
  font-family: FontAwesome;
  background: transparent;

  border: 3px solid #000000;
  border-radius: 4px;
  color: transparent;
  left: -30px;

  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: " \f00c";
  color: #fff;
  cursor: pointer;
  background: #000000;
}

label:hover::before .text-checkbox {
  background: #000000;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}
label input[type="checkbox"] {
  display: none;
}
