<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div *ngIf="loginForm.invalid && userFormSubmitted" class="alert alert-danger">
    Please correct the errors in the form before submitting.
  </div>
  <!-- Email -->
  <div class="col-12">
    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="" formControlName="email"
        autocomplete="current-Email"
        [class.is-invalid]="loginForm.get('email')!.invalid && loginForm.get('email')!.touched"
        [class.is-valid]="loginForm.get('email')!.valid && loginForm.get('email')!.touched">
      <label for="email" class="form-label">Email*</label>
      <div *ngIf="loginForm.get('email')!.invalid && loginForm.get('email')!.touched" class="invalid-feedback">
        Please provide a valid email.
      </div>
    </div>
  </div>

  <!-- Password -->
  <div class="col-12 mt-3">
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="" formControlName="password"
        autocomplete="current-password"
        [class.is-invalid]="loginForm.get('password')!.invalid && loginForm.get('password')!.touched"
        [class.is-valid]="loginForm.get('password')!.valid && loginForm.get('password')!.touched">
      <label for="password" class="form-label">Password*</label>
      <div *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched" class="invalid-feedback">
        Please provide a valid password.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-dark btn-lg mx-auto col-12 mt-3">Login</button>
</form>
