<!-- Modal -->
<div class="modal fade" id="blockmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <app-section-header [title]="title" time=""></app-section-header>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3"  >

          <!--Name-->
          <div class="col-md-8">
            <div class="form-floating">
              <input type="date" class="form-control" id="blockUntilDate" placeholder="Block until"
              [(ngModel)]="blockUntilDate" name="blockUntilDate" required>
              <label for="blockUntilDate" class="form-label">Block until *</label>

            </div>
          </div>


          <div class="d-grid gap-4 d-md-block">

          </div>

        </form>

      </div>
      <div class="modal-footer">

        <button type="reset" (click)="onCancel()" class="btn btn-outline-dark" data-bs-dismiss="modal">close</button>
        <button type="submit"  class="btn btn-dark mx-md-3"
          data-bs-dismiss="modal" >Block user</button>
      </div>
    </div>
  </div>
</div>
