<div class="user-list-section">

  <app-state-counter [states]="counters"></app-state-counter>

  <div class=" steurung-line">

    <app-tabs [tabs]="tabConfig" (tabChanged)="handleTabChange($event)"></app-tabs>

    <div class="search-add-container ">
      <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="Search..." [(ngModel)]="searchText"
          (ngModelChange)="filterUsers()">

        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-search"
          viewBox="0 0 24 24">
          <defs></defs>
          <circle cx="11" cy="11" r="8"></circle>
          <path d="M21 21l-4.35-4.35"></path>
        </svg>
      </div>
      <button class="btn-add-user active" title="Add new User" (click)="addUser()">

        <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
          class="feather feather-plus">
          <line x1="12" y1="5" x2="12" y2="19" />
          <line x1="5" y1="12" x2="19" y2="12" />
        </svg>

        <span>Add New User</span>

      </button>

    </div>

  </div>

  @defer{
  <app-table [columns]="columns" [data]="users"></app-table>
  } @loading (minimum 700ms) {
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }@error {
  <p>Failed to load table data!</p>
  }

</div>





<!--sort
      <div class='sort-menu-container ' title="User Sort">
        <button class='sort-btn' (click)="toggleDropdown()">

          <svg class='fl-sort-icon' xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z" />
            <path d="M0 0h24v24H0z" fill="none" />
          </svg>

          <span class='sort-btn__text'>Sortieren</span>

          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img"
            class="sort-btn__arrow">
            <path
              d="M21.5265 8.77171C22.1578 8.13764 22.1578 7.10962 21.5265 6.47555C20.8951 5.84148 19.8714 5.84148 19.24 6.47555L11.9999 13.7465L4.75996 6.47573C4.12858 5.84166 3.10492 5.84166 2.47354 6.47573C1.84215 7.10979 1.84215 8.13782 2.47354 8.77188L10.8332 17.1671C10.8408 17.1751 10.8486 17.183 10.8565 17.1909C11.0636 17.399 11.313 17.5388 11.577 17.6103C11.5834 17.6121 11.5899 17.6138 11.5964 17.6154C12.132 17.7536 12.7242 17.6122 13.1435 17.1911C13.1539 17.1807 13.1641 17.1702 13.1742 17.1596L21.5265 8.77171Z">
            </path>
          </svg>
        </button>

        <div class='sortDropdown' [ngClass]="{'open':isSortDropdownActive }">
          <ul>
            <li>
              <input type='radio' id='sort-none' name='sort' value='none'>
              <label for='sort-none'>Keine Auswahl</label>
            </li>
            <li>
              <input type='radio' id='sort-kategorie' name='sort' value='Kategorie'>
              <label for='sort-kategorie'>Kategorie</label>
            </li>
            <li>
              <input type='radio' id='sort-niedrigerPreis' name='sort' value='Niedriger Preis'>
              <label for='sort-niedrigerPreis'>Niedriger Preis</label>
            </li>
            <li>
              <input type='radio' id='sort-höchsterPreis' name='sort' value='Höchster Preis'>
              <label for='sort-höchsterPreis'>Höchster Preis</label>
            </li>
            <li>
              <input type='radio' id='sort-alpha' name='sort' value='alpha'>
              <label for='sort-alpha'>A-Z</label>
            </li>
          </ul>
        </div>
      </div>
    -->
