.user-list-section {
  display: flex;
  flex-direction: column;
  color: var(--font-color-primary);

  .steurung-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
  }
}

.search-add-container {
  display: flex;
  align-items: center;
}

.search-wrapper {
  border-radius: 4px;
  background-color: var(--search-area-bg);
  border: 1px solid var(--link-color-active-bg);
  padding-right: 12px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 430px;
  color: var(--light-font);
  overflow: hidden;

  .dark & {
    box-shadow: none;
  }
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--font-color-primary);

  &:placeholder {
    color: var(--font-color-primary);
    opacity: 0.6;
  }
}

.btn-add-user {
  background-color: var(--link-color-active-bg);
  color: var(--link-color-active);
  width: 200px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  transition: 0.2s;
  span {
    padding-inline: 10px;
  }
}



//table

.scroll-window table {
  margin-bottom: 0;
}
/*fixed header background*/
.scroll-window:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5rem;
  display: table;
  z-index: 10;
  background: rgba(170, 170, 170, 0.8);
}

/*the actual fixed header*/
table.fixed-header th div {
  position: absolute;
  margin-top: -0.5rem;
  z-index: 11;
  color: #333;
}
.table.fixed-header th {
  text-align: left;
}
table.fixed-header thead tr {
  height: 2.5rem;
}

.user-list {
  width: 100%;
}

.user-list td.text-right {
  width: 16rem;
}

/*-----experimental scrollbar styles-----*/
/* line 199, ../scss/main.scss */
#bodywrap ::-webkit-scrollbar {
  width: 1rem;
}
/* line 202, ../scss/main.scss */
#bodywrap ::-webkit-scrollbar-button {
  /* width:1rem;*/
}
/* line 205, ../scss/main.scss */
#bodywrap ::-webkit-scrollbar-track {
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
}
/* line 212, ../scss/main.scss */
#bodywrap ::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
/* line 215, ../scss/main.scss */
#bodywrap ::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.user-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 30px;
  height: 100%;
  cursor: pointer;
  .punkt {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin-bottom: 2px;
    background-color: var(--link-color);
    opacity: 0.9;
  }
}

.uname-verified {
  margin: 0 0 0 0.25em;
  width: 16px;
  cursor: default;
}

/// sort
.sort-menu-container {
  position: relative;
}

/*sort btn */
.sort-btn {
  padding: 0 40px 0 20px;
  // font-size: 16px;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
  border: 1px solid var(--link-color-active-bg);

  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: transparent;
  color: var(--font-color-primary);
  margin-left: 8px;
  transition: 0.2s;
  svg {
    fill: var(--link-color);
  }
  span {
    padding-left: 4px;
  }
}

.sort-btn__arrow {
  position: absolute;
  right: 20px;
  top: 15px;
  fill: var(--link-color);
  width: 10px;
  height: 10px;
  margin: 0;
  transition: transform 0.2s ease;
}

.sort-menu-container.open .sort-btn__arrow {
  transform: rotate(180deg);
}

/* sort Dropdown */

.sortDropdown {
  margin-left: 8px;

  position: absolute;
  z-index: 700;
  box-sizing: border-box;
  width: 100%;
  min-width: 170px;
  border: 1px solid #9aa0a6;
  border-radius: 8px;
  margin-top: 15px;
  background: var(--bg-color-primary);
  opacity: 0;
  transform: translatey(-10px);
  pointer-events: none;
  transition: all 0.1s ease;
}

.sort-menu-container.open .sortDropdown {
  opacity: 1;
  transform: translatey(0);
  pointer-events: all;
}
.open {
  opacity: 1;
  transform: translatey(0);
  pointer-events: all;
}
.sortDropdown ul {
  padding: 20px 10px;
  margin: 0;
  list-style: none;
}

.sortDropdown input {
  position: absolute;
  visibility: hidden;
}

.sortDropdown label {
  display: block;
  padding: 8px 10px;
  border-radius: 5px;
  color: #9aa0a6;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sortDropdown input:checked ~ label {
  background: var(--link-color-active-bg) !important;
  color: var(--link-color-active) !important;
}

.sortDropdown label:hover {
  background: var(--link-color) !important;
  opacity: 0.8;
  color: var(--link-color-active) !important;
}
/// ende sort
