<div class=" ">

  <a routerLink="/user-management">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
  </a>
  <app-section-header [title]="title" time=""></app-section-header>


  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body ">
          <div class="message-box d-flex align-items-start">

            @if(user){
            <div class="">
              <div class="avatar d-flex align-items-center justify-content-center rounded-circle">
                @if (false) {
                <img [src]="" alt="profile image">

                }@else{
                <div class="initials">
                  {{ getInitials(user.name, user.surname) }}
                </div>
                }
              </div>
            </div>
            <div class="">
              <h6 class="card-subtitle mb-2 text-muted">{{ user.role }}</h6>

              <h5 class="card-title fw-bolder mb-0">{{ user.name }} {{ user.surname }}
                @if (user.verified) {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#0040ff"
                  class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
                } @else {
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path
                    d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                </svg>
                }
              </h5>

              <p class="card-text text-secondary small mb-1" style="opacity: 0.8;">{{ user.email }}</p>
              <p class="card-text text-secondary small mb-1" style="opacity: 0.8;">Date of Birth: {{ user.dob }}</p>
              <span class="badge mb-3" [ngClass]="user.active ? 'bg-success' : 'bg-danger'">
                {{ user.active ? 'Active' : 'Inactive' }}
              </span>

              <app-state-counter [states]="counters"></app-state-counter>
            </div>



            }@else{
            <p>Could not load user information.</p>
            }
          </div>

        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="accordion" id="poiAccordion">
          <div *ngFor="let poi of userPois" class="accordion-item">
            <h2 class="accordion-header" id="heading{{ poi.id }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + poi.id" aria-expanded="false"
                [attr.aria-controls]="'collapse' + poi.id">
                {{ poi.titel }}
              </button>
            </h2>
            <div [id]="'collapse' + poi.id" class="accordion-collapse collapse"
              [attr.aria-labelledby]="'heading' + poi.id" data-bs-parent="#poiAccordion">
              <div class="accordion-body">
                <p class="card-text">Description: {{ poi.description }}</p>
                <p class="card-text">Latitude: {{ poi.latitude }}</p>
                <p class="card-text">Longitude: {{ poi.longitude }}</p>
                <p class="card-text">Created At: {{ poi.createdAt }}</p>
                <p class="card-text">Updated At: {{ poi.updatedAt }}</p>

                <!-- Voting system -->
                <div class="voting row">
                  <div class="row">
                    <div class="col-6">

                      <div (click)="vote(poi.id, 'like')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                          <path
                            d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                        </svg>
                        {{ getVoteCount(poi.id, 'UP') }} Likes
                      </div>
                    </div>
                    <div class="col-6">

                      <div (click)="vote(poi.id, 'dislike')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                          <path
                            d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591" />
                        </svg>
                        {{ getVoteCount(poi.id, 'DOWN') }} Dislikes
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Comments -->
                <div class="comments pt-3 border-top border-secondary-subtle">
                  <h5>Comments</h5>
                  <div *ngFor="let comment of poi.comments">
                    <p>{{ comment.actualcomment }} <small>{{ comment.createdAt | date:'short' }}</small></p>
                  </div>
                  <input type="text" #commentText placeholder="Add a comment" />
                  <button (click)="addComment(poi.id, commentText.value); commentText.value=''">Add Comment</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="map" style="height: 400px;"></div>
      </div>
    </div>
  </div>
</div>
